.DS_Store
Thumbs.db
node_modules/
.tempmediaStorage/
.system_generated/
*.log
.gemini/
.agents/
.aitk/
.cagent/
.cline/
.continue/
.copilot/
.cursor/
.vscode/
.vscode-server/
.vscode-shared/
*.dat
*.blf
*.regtrans-ms
